<div>
{{#each links}}
<div style="background-color: #4f8e7d; border-radius: 0.5em; background-image: linear-gradient(#459b9f, #4ee1ca 90%); padding: 0.5em; margin-top: 0.5em;text-align:center;">
<a style="color: #ffffff;text-decoration:none;" href="https://grants.inmech.kyiv.ua/">Гранти та конкурси</a>
</div>
{{/each}}
</div>