{{> head}}
{{> navbar}}
<main>

   <div class="wrapper feed">
      {{#each posts}}
         {{> post-card this}}
      {{/each}}
      {{> pagination}}
   </div>

<div>{{> sidebar}}</div>
</main>
{{> footer}}
